html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Michroma';
    min-height: 100svh;
}

body::-webkit-scrollbar {
    display: none;
}

.main-container::-webkit-scrollbar {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    position: -webkit-fixed;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.35);
}

nav>a {
    padding: 0px 30px;
    margin-left: -20px;
    user-select: none;
    cursor: pointer !important;
    -webkit-clip-path: polygon(calc(0% + 20px) 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    clip-path: polygon(calc(0% + 20px) 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    position: relative;
    height: 80px;
    line-height: 80px;

    background: rgba(255, 255, 255, 0.04);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);

    zoom: 1;
    display: inline;
    color: black;
    text-decoration: none;

}

nav>a:first-child::before {
    content: "";
    width: 21px;
    -webkit-clip-path: polygon(calc(0% + 20px) 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    clip-path: polygon(calc(0% + 20px) 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    background-color: rgba(255, 255, 255, 0.35);
    ;
    height: 100%;
    zoom: 1;
    display: inline;
    position: absolute;
    left: 0px;
}

nav>a::after {
    content: "";
    width: 21px;
    -webkit-clip-path: polygon(calc(0% + 20px) 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    clip-path: polygon(calc(0% + 20px) 0, 100% 0%, calc(100% - 20px) 100%, 0% 100%);
    background-color: rgba(255, 255, 255, 0.35);
    height: 100%;
    zoom: 1;
    display: inline;
    position: absolute;
    right: 0px;
}

.main-container {
    scroll-behavior: smooth;
    height: 100svh;
    min-height: 100svh;
    max-height: 100svh;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    background: linear-gradient(60deg, rgba(40, 164, 226, 1) 0%, rgba(230, 216, 16, 0.4) 100%);
    background-color: rgba(40, 164, 226);


    /*hide scroll bars*/
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}

section {
    height: calc(100svh - 80px);
    min-height: calc(100svh - 80px);
    max-height: calc(100svh - 80px);
    padding-top: 80px;
    scroll-snap-align: center;
}

.BGText {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 65vh;
    font-size: 65vh;
    font-family: Noto Naskh Arabic;
    color: white;
    opacity: 0.6;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

#work {
    background: url(images/neon-city.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .square-div {
    width: 30%; /* Adjust the size of the square as needed */
    padding-top: 30%; /* Maintains the square shape */
    background-color: rgba(255, 0, 0, 0.5); /* Example background color */
  }

#skills {
    background: url(images/neon-city.jpg) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.neon-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    top: 19%;
    left: 42%;
    width: max(19%, 135px);
    height: max(38svh, 135px);
    transform: matrix3d(1, -0.24, -0.17, -.0008, 0.03, 0.97, 0.26, -.0001, 0.17, -0.26, 0.9506, 0, 0, 0, 0, 1);
    
    
   
}

.neon {
    padding: 5px;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    word-wrap: break-word;

    text-shadow: 0 0 7px #adf3f6, 0 0 10px #6de9e7, 0 0 21px #284fae, 0 0 42px #9a6eee;
}
.neon-card:hover{
    color: #ffffff;

    box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        2px 2px 1px #fff,
        2px 2px 3px #fff,
        2px 2px 5px #fff,
        2px 2px 2rem #bc13fe,
        2px 2px 0.8rem #bc13fe,
        2px 2px 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}

.neon-card {
    background-color: rgba(20, 33, 55, 0.4);
    width: 5svh;
    height: 5svh;
    font-size: 3svh;
    user-select: none;
    cursor: pointer !important;
    filter: blur(0.5px);

    color: rgba(255, 255, 255, 0.6);

}

.billboard {
    width: 100%;
    height: 100%;
    line-height: 38svh;

    background: url(images/BBG.png) no-repeat;
    background-size: cover;
    font-size: 4svh;
    animation: flicker 5s infinite alternate;
    border-right: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
    color: #ffffff;

    box-shadow:
        0 0 .2rem #fff,
        0 0 .2rem #fff,
        2px 2px 1px #fff,
        2px 2px 3px #fff,
        2px 2px 5px #fff,
        2px 2px 2rem #bc13fe,
        2px 2px 0.8rem #bc13fe,
        2px 2px 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;

    /* transform: matrix3d(0.98, -0.24, -0.17, -.0008, 0.03, 0.97, 0.26, -.0001, 0.17, -0.26, 0.9506, 0, 0, 0, 0, 1); */
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #57cede,
            0 0 80px #57cede,
            0 0 90px #57cede,

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #57cede,
            0 0 45px #57cede,
            0 0 55px #57cede,

    }
}

@keyframes flicker2 {
    from {
        color: rgb(255, 255, 255, 1);
    }

    4% {
        color: rgb(255, 255, 255, 0.9);
    }

    6% {
        color: rgb(255, 255, 255, 0.85);
    }

    8% {
        color: rgb(255, 255, 255, 0.95);
    }

    10% {
        color: rgb(255, 255, 255, 0.9);
    }

    11% {
        color: rgb(255, 255, 255, 0.922);
    }

    12% {
        color: rgb(255, 255, 255, 0.9);
    }

    14% {
        color: rgb(255, 255, 255, 0.95);
    }

    16% {
        color: rgb(255, 255, 255, 0.98);
    }

    17% {
        color: rgb(255, 255, 255, 0.9);
    }

    19% {
        color: rgb(255, 255, 255, 0.93);
    }

    20% {
        color: rgb(255, 255, 255, 0.99);
    }

    24% {
        color: rgb(255, 255, 255, 1);
    }

    26% {
        color: rgb(255, 255, 255, 0.94);
    }

    28% {
        color: rgb(255, 255, 255, 0.98);
    }

    37% {
        color: rgb(255, 255, 255, 0.93);
    }

    38% {
        color: rgb(255, 255, 255, 0.5);
    }

    39% {
        color: rgb(255, 255, 255, 0.96);
    }

    42% {
        color: rgb(255, 255, 255, 1);
    }

    44% {
        color: rgb(255, 255, 255, 0.97);
    }

    46% {
        color: rgb(255, 255, 255, 0.94);
    }

    56% {
        color: rgb(255, 255, 255, 0.9);
    }

    58% {
        color: rgb(255, 255, 255, 0.98);
    }

    60% {
        color: rgb(255, 255, 255, 0.99);
    }

    68% {
        color: rgb(255, 255, 255, 1);
    }

    70% {
        color: rgb(255, 255, 255, 0.9);
    }

    72% {
        color: rgb(255, 255, 255, 0.95);
    }

    93% {
        color: rgb(255, 255, 255, 0.93);
    }

    95% {
        color: rgb(255, 255, 255, 0.95);
    }

    97% {
        color: rgb(255, 255, 255, 0.93);
    }

    to {
        color: rgb(255, 255, 255, 1);
    }
}

@keyframes flicker {

    0%,

    9.5%,
    10.5%,

    11%,
    12%,

    32%,
    33%,

    100% {
        text-shadow:
            0 0 7px #adf3f6, 0 0 10px #6de9e7, 0 0 21px #284fae, 0 0 42px #9a6eee
    }

    10%,
    11.5%,
    32.5% {
        text-shadow: none;
    }
}

footer {
    height: 120px;
    width: 100%;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4, calc(25% - 9px));
    grid-template-rows: repeat(2, calc(50% - 6px));
    background-color: gray;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: auto;
}

footer a:hover {
    opacity: 0.7;
}

.waves {
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}