<!-- gonna be mainly a single page app with some other detaisl pages etc. -->
<nav>
    <a href="/sdf">Home</a>
    <a>Blog</a>
    <a>Resources</a>
    <a>Partners</a>
    <a>Credentials</a>
    <a>About me</a>
</nav>

<div class="content" style="padding-top: 80px;">

    <!-- section 1 -->
    <div style="text-align: center; font-size: 20px; z-index: 2; padding: 200px 0;">
        <h1>
            I'M AHMAD AGHA
        </h1>
        <span>
            Cross-platform Developer
        </span>
    </div>

    <!--Waves-->
    <div #WavesContainer>

        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="2" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="#fff" />
            </g>
        </svg>
    </div>

    <!-- section 2 -->
    <div style="width: 100%; height: 700px; background-color: #fff; text-align: center; font-size: 20px; display: flex;
            flex-direction: column;
            justify-content: center;">

        <style style="display: block; white-space: pre;" contenteditable>

        </style>
        <h1>Projects</h1>
        <div class="card">
            <div class="card-title"></div>
            <img class="card-image" />
            <div class="card-description"></div>
        </div>

        <!-- personal interests -->
        <!-- partners -->
        <!-- resources or tips & tricks -->
        <!-- credentials -->

    </div>

    <div class="footer">
    </div>
</div>